.Rproj.user
Account Tracking/tdaAPI2/DailyEmail.ipynb
Account Tracking/tdaAPI2/dailyemail.py
Account Tracking/tdaAPI2/token.pickle
Account Tracking/tdaAPI2/DailyEmail.ipynb
SPY Works/SPY Scrap/token.pickle
Account Tracking/login_dets
SPY Works/SPY_options.pickle
